.translations {
    position: absolute;
    top: -2.3em;
    left: -1em;
    overflow: hidden;
    padding: 1em 1em 0;
}

.translations ul {
    font-size: .875em;
    border: solid #37567b;
    border-width: 1px 1px 0;
    background-color: #1f3959;
    color: #999;
    margin: 0;
    padding: .1em .35em;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: 0 0 .5em #999;
    display: block;
}

.translations li {
    list-style-type: none;
    display: inline-block;
    margin: 0 5px 0 5px;
}
